@import url('https://fonts.googleapis.com/css?family=Roboto');

// spacings
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;

// colors
$color-primary: #5c5c5c;
$color-white: #fff;
$color-black: #111;
$color-error: #ff0000;

// breakpoints
$mobile: 0;
$tablet: 450px;
$desktop: 700px;
